<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Access Record</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="n">Name</label>
            <select name="n" id="n">
                {% for wo in QLWO %}
                    <option value="{{wo.pk}}">{{wo.name}}</option>
                {% endfor %}
            </select>
            <br><br>

            

            <label for="d">Date</label>
            <input type="date" id="d" name="d"><br><br>
            
            <label for="a">Author</label>
            <input type="text" id="a" name="a"><br><br>
            
        
            <input type="submit">          

        </form>
    </center>
</body>
</html>