<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Webpage</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="tn">Topic_Name</label>
            <select name="tn" id="tn">
                {% for to in QLTO %}
                    <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="n">Name</label>
            <input type="text" id="n" name="n"><br><br>

            <label for="url">Url</label>
            <input type="url" id="url" name="url"><br><br>
            
            <label for="mail">Email</label>
            <input type="email" id="mail" name="mail"><br><br>
            
           
            <input type="submit" value="webpage">          

        </form>
    </center>
</body>
</html>